

.container {display: block;}

.hero-image {
    z-index: -1;
    width: 100%;
    object-fit: cover;
    max-height: 600px;
    position: absolute; 
}

.main-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero-logo {
  object-fit: contain;
    max-width: 180px;
    max-height: 120px;
}

.content-container {
  display: flex;
  justify-content: center;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content-info{
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.right-content-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 16px;
}

.right-content-text h1{
  margin: 0;
}

.right-title-text {
    font-size: 46px;
    color: var( --text-color-back);
    font-weight: bold;
}

.alt-title-text{
    font-size: 46px;
    max-width: fit-content;
    background-color: white;
    color: black;
    font-weight: bold;
}

.hero-button {
    display: block;
    padding: 16px;
    background-color: #3FFA53;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 12px;
}

